.app {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  overflow: hidden;
}

.dashboard-active .main-content {
  width: 70%;
}

.main-content {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

.social-icon:hover {
  color: #0056b3;
}
